<p>
<%= link_to pins_path do %>
	<span class="glyphicon glyphicon-chevron-left"></span>
	Back
<% end %>
</p>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1>New pin</h1>
    <div/>
    <div class="panel-body">
		<%= render 'form' %>
    </div>
</div>
