<p>
<%= link_to pins_path do %>
	<span class="glyphicon glyphicon-chevron-left"></span>
	Back
<% end %>
</p>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="center">Add your amazing (_!_) picture here</h4>
		    <div/>
		    <div class="panel-body">
				<%= render 'form' %>
		    </div>	    
		</div>
	</div>
</div>