
<div class="jumbotron center radius">
	<h2>Welcome to RateMyButt!</h2>
	<h4>RateMyButt is a website made for fun. If you like it play with it. If not the Internet is a place full of other wonderful websites to surf.</br></br>Maybe you might wanna try facebook. Thay say it's a big hit.</h4>
	<h3>What you can do:</h3>
	<h4>As simple as it might seem, you upload a picture of your buttocks and get it rated by complete strangers. Everything is obviously anonymous.</h4>
</br>


	
	<p>
		<%= link_to "Log in", new_user_session_path, class: 'btn btn-default btn-lg' %>
		<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-danger btn-lg' %>
	</p>

</div>