<div class='jumbotron center radius'>
<h1>About us</h1>
<p>Selfies are the epitome of one's ego. Groupies are socially correct.</p></br>
<p>Share your groupies with your friends and the World; rate other groupiers' groupies.</p>
</div>
