<div class='jumbotron center radius'>
<h2>A great place to share your (_!_) photos anonymously and have them rated!</h2>
<h4>Did we really feel the need of something like that?! Apparently...</h4></br>
<p></p>
</div>
